/*-- CSS para mobile --*/
@media (max-width: 650px){
.buscador{ width: 80% !important; }
.a-r-block img{ width: 100px; }
h4{ font-size: 1.2rem ! important; }
.formulario input { width:80%; height: 2rem ! important;}
}

@media (max-width: 750px) and (orientation: landscape){ 
header#header{
      display: none;
  } 
}
