.grid-container {
    display: grid;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: auto auto;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    justify-content: center; 
  }
.grid-container div{
    position: relative;
    margin: 10px;
    width: 100%;
    text-align: center;
}
.grid-container img{
    width: 100%;
    margin: 0;
    border-radius: 10px;
}
div .text-artigo{
    margin: -150px 0 0 0;
    width: 100%;
    height:fit-content;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: .4rem 0;
}
.text-artigo h1, p{
    padding: .3rem;
}
.text-artigo a{
    border: 1px solid black;
    padding: .3rem;
    border-radius: 7px;
}