
.a-r-bloco img{ 
    position: relative;
    width: 1000px;
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 10px;
    z-index: -1;
}
.a-r-background{
    max-width: 900px;
    height: 150px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 10px;
    overflow: hidden;
}
.a-r-bloco a{
    margin-top: 0;
    font-family: 'acme', sans-serif;
    text-decoration: none;
    border-bottom: 1px solid white;
}
.a-r-background p{
    padding: 2px;
    font-size: .8rem;
    line-height: normal;
    color: white;
}
.ler-mais{
    text-decoration: none;
    transition: .5s ease-in-out;
    background-color: rgba(27, 26, 26, 0.568);
    border: 1px solid white;
    border-radius: 7px;
    margin-bottom: .7rem;
    padding: .3rem;
   
}
.ler-mais:hover{
    background-color: rgb(223, 222, 222);
}
