.shared-buttons{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}
.shared-buttons a{
    border: 1px solid var(--color-background-soft);
    border-radius: 5px;
    padding: .1rem .5rem;
}
.shared-buttons svg{
    color: var(--color-background);
    width: 20px;
}
.shared-buttons span{
    font-size: 1rem;
    color: var(--color-background);
}
.feather-phone{
   margin-bottom: 1.3px;
   margin-left: -25px;
   fill: var(--color-background);
}