.slides-container{
    position: relative;
    max-width: 1200px;
    aspect-ratio: 3/1;
    overflow: hidden;
    margin: 50px auto 0 auto;
}
.slides-container img{
    position: absolute;
    width: 100%;
}
.slides-circles-container{
    margin-top: .3rem;
    display: inline-flex;
    column-gap: 1rem;
    justify-content: center;
    width: 100%;
}
.slides-circle{
    width: 17px;
    height: 17px;
    border: 1px solid var(--color-background);
    border-radius: 50%;
    cursor: pointer;
}
.slides-circle:hover, .circle-background{
    background-color: var(--color-background);
}
.mySlides{
    visibility: hidden;
}
.mySlides:first-child{
    visibility: visible;
}
.viewSlides{
    visibility: visible;
}